.navbar{
  background: steelblue;
}

body{
   background: #E2E2E2;
}

.btn, .btn:hover, .btn:focus{
  background: steelblue;
  color: white;
}

#environments,#modules{
  text-align:left;
  margin-left: 15px;
  margin-bottom: 10px;
}
#uat,#itf,#prod{
  width: 100%;
}

#itfAdminButton,#itfmyInboxButton,#itfPayrollButton,#itfClaimsButton{
  padding: 40px;
  text-align: center;
  width: 100%;
}

.card{
  height: 100%;
}
